{% extends "base.html" %}
{% block body %}

<div class="col-md-12 px-2 d-flex flex-column justify-content-center align-items-center">

    <h2>Créer un nouvel utilisateur</h2>
    <form method="POST" action="{{ url_for('create_user') }}">
        <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="role">Rôle</label>
            <select class="form-control" id="role" name="role" required>
                <option value="admin">Admin</option>
                <option value="other">Autre</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Créer l'utilisateur</button>
    </form>

</div>

{% endblock %}